body {
  margin: 0 auto;
  background-color: rgb(93, 180, 242);
    font-family: 'Press Start 2P', cursive;
   
}

h1 {
  
  
  position: relative;
  bottom: 410px;
  left: 141px;
  font-size: 60px;
  color:antiquewhite;
  animation: pulsate 2s infinite;
}

@keyframes pulsate {
  0% {
    transform: scale(1);
    opacity: 0.8;
  }
  50% {
    transform: scale(1.1);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0.8;
  }
}



#countdown{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  bottom: 111%;
  font-size: 50px;
}

.meta-data {
  margin-left: 5%;
}

.Play-space {
  height: 100%;
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
  background: rgba(51, 51, 51, 0);
  position: relative;
  z-index: 0;
}

.grid {
  
    display: grid; 
    grid-auto-columns: 1fr; 
    grid-auto-rows: 1fr; 
    grid-template-columns: 1fr; 
    grid-template-rows: 1.4fr 0.6fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      "Play-space"
      "empty-space"; 
  
  background: url("DALL·E 2023-12-01 13.40.41 - A simple 8-bit style background of a grassy field with a clear blue sky and snowy mountains. The mountains are positioned low in the screen, creating .png") no-repeat center center;
  background-size: cover; /* Adjust as needed */
  height: 800px;
  width: 800px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
  height: 800px;
  width: 800px;
  
}

.empty-space {

  grid-area: empty-space;
}

.Play-space {
  width: 100%;
  grid-area: Play-space;
}

.container {
  position: relative;
  bottom:-100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

button{
  position: relative;
  left: 320px;
  top: 141px;
  font-family: 'Press Start 2P', cursive;
  font-size: 30px;
  border: none;
  background: none;
  padding: 0;
  color: antiquewhite;
  cursor: pointer;
}

button:hover {
  color: green;
}


